<h1>All Builds Page</h1>

<div class="card-row">
  <% @builds.each do |build| %>
    <div class="card">
      <%=image_tag("cpu.png", class: "card-icon") %>

    <div class="container">
      <h4><b><%= link_to build.build_name, build_path(build) %></b></h4>
      <p><%= build.user.username %></p>
    </div>
  </div>
  <% end %>
</div>

<%= button_to "NEW BUILD", "/builds/new", :method => "get" %>
