<h1>Motherboard List</h1>
<ul>
<% @mobos.each do |mobo| %>
  <h2><%= mobo.model %></h2>
  <li>Ram Slots: <%= mobo.ram_slots %></li>
  <li>Type: <%= mobo.mobo_type %></li>
  <li>Price: $<%= mobo.price %></li>
<% end %>
</ul>
