<h1>Storage List</h1>
<div class="card-row">
  <% @storages.each do |c| %>
    <div class="card">
      <%=image_tag("#{c.url}", class: "card-image") %>

    <div class="container">
      <h4><b><%= link_to c.model, "/storages/#{c.id}" %></b></h4>
    </div>
  </div>
  <% end %>
</div>

<h3>Most Popular: <%= Storage.most_popular %></h3>
