<h1>Storage Technical Info</h1>
<h2><%= @storage.model %></h2>
<ul>
  <li>Capacity: <%= @storage.capacity %> GB</li>
  <li>Type: <%= @storage.drive_type %></li>
  <li>Price: $<%= @storage.price %></li>
</ul>
