<h1>Graphics Card List</h1>
<ul>
<% @cards.each do |card| %>
  <h2><%= card.model %></h2>
  <li>Memory: <%= card.memory %> GB</li>
  <li>Price: $<%= card.price %></li>
<% end %>
</ul>

<h3>Most Popular: <%= Card.most_popular %></h3>
