<h1>Graphics Card Technical Info</h1>
<h2><%= @card.model %></h2>
<ul>
  <li>Memory: <%= @card.memory %> GB</li>
  <li>Price: $<%= @card.price %></li>
</ul>

<%= link_to "View all Graphics Cards", cards_path %>
