<h1>Power Supply Unit Technical Info</h1>
<h2><%= @psu.model %></h2>
<ul>
  <li>Wattage: <%= @psu.watts %> </li>
  <li>Price: $<%= @psu.price %></li>
</ul>

<%= link_to "View all PSU's", psus_path %>
